In [1]:
import numpy as np
import pandas as pd
import string
import re
import nltk

In [2]:
Fake=pd.read_csv("Dataset/Fake.csv")
Real=pd.read_csv("Dataset/True.csv")

C:\Users\Guppi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Fake["news"]=0
Real["news"]=1

In [4]:
Fake=Fake[["title","news"]]
Real=Real[["title","news"]]

In [5]:
Fake.head()

                                               title  news
0   Donald Trump Sends Out Embarrassing New Yearâ€™...     0
1   Drunk Bragging Trump Staffer Started Russian ...     0
2   Sheriff David Clarke Becomes An Internet Joke...     0
3   Trump Is So Obsessed He Even Has Obamaâ€™s Name...     0
4   Pope Francis Just Called Out Donald Trump Dur...     0

In [6]:
Real.head()

                                               title  news
0  As U.S. budget fight looms, Republicans flip t...     1
1  U.S. military to accept transgender recruits o...     1
2  Senior U.S. Republican senator: 'Let Mr. Muell...     1
3  FBI Russia probe helped by Australian diplomat...     1
4  Trump wants Postal Service to charge 'much mor...     1

In [7]:
news = pd.concat([Fake, Real]).reset_index(drop=True)

In [8]:
news.head()

                                               title  news
0   Donald Trump Sends Out Embarrassing New Yearâ€™...     0
1   Drunk Bragging Trump Staffer Started Russian ...     0
2   Sheriff David Clarke Becomes An Internet Joke...     0
3   Trump Is So Obsessed He Even Has Obamaâ€™s Name...     0
4   Pope Francis Just Called Out Donald Trump Dur...     0

# Lower Case

In [9]:
news['title']=news["title"].apply(lambda x:x.lower())

# Removing Urls

In [10]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

remove_URL("Kaggle id https://www.kaggle.com/vanshjatana")

'Kaggle id '

In [11]:
news["title"]=news["title"].apply(remove_URL)

# Removing HTML tags

In [12]:
def remove_html(text):
    html=re.compile(r'<.*?>')
    return html.sub(r'',text)
remove_html("<h1>P12</h1>")

'P12'

In [13]:
news["title"]=news["title"].apply(remove_html)

# Remove Emoji

In [14]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)
remove_emoji("SadðŸ˜”")

'Sad'

In [15]:
news["title"]=news["title"].apply(remove_emoji)

# Remove Punctuations

In [16]:
def remove_punct(text):
    return re.sub(r"\W+", " ", text)
remove_punct("wow!!!wow")

'wow wow'

In [17]:
news["title"]=news["title"].apply(remove_punct)

In [18]:
def remove_numbers(text):
    text = ''.join([i for i in text if not i.isdigit()])         
    return text
remove_numbers("I am 20 years")

'I am  years'

In [19]:
news["title"]=news["title"].apply(remove_numbers)

# Remove Stop Words

In [20]:
stopwords = set(nltk.corpus.stopwords.words())
def clean_stopwords(text):
    res = []
    text=text.split()
    for word in text:
        if word not in stopwords:
            res.append(word)
    return " ".join(res)
clean_stopwords("P12 is our group name")

'P12 group'

In [21]:
news["title"]=news["title"].apply(clean_stopwords)

# Lemmatization

In [22]:
# import these modules 
from nltk.stem import WordNetLemmatizer 

lemmatizer = WordNetLemmatizer() 

def lemmi_(x):
    li=x.split()
    roots=[]
    for i in li:
        roots.append(lemmatizer.lemmatize(i))
    return " ".join(roots)    
        
lemmi_("rocks corpora better")

'rock corpus better'

In [23]:
news["title"]=news["title"].apply(lemmi_)

In [24]:
news.to_csv("Final.csv",index=False)

In [25]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44919 entries, 0 to 44918
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44919 non-null  object
 1   news    44919 non-null  int64
dtypes: int64(1), object(1)
memory usage: 702.0+ KB

In [26]:
clean_news=pd.read_csv("Final.csv")

In [27]:
clean_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44919 entries, 0 to 44918
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44910 non-null  object
 1   news    44919 non-null  int64
dtypes: int64(1), object(1)
memory usage: 702.0+ KB

In [28]:
clean_news.dropna(inplace=True)

In [29]:
clean_news.to_csv("Final.csv",index=False)